/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* Title Styling */
.page-title {
    text-align: center;
    font-size: 2.5em;
    color: #000000;
    margin-top: 20px;
}

/* Parallax Section */
.parallax {
    height: 500px; /* Adjust height as needed */
    background-image: url('crops\ yeild.jpg'); /* Your background image */
    background-attachment: fixed; /* Fixed attachment for parallax effect */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent repetition */
    background-size: cover; /* Cover the entire area */
    position: relative;
    z-index: -1; /* Send it to the back */
}
/* Introduction Section */
.feature-overview {
    max-width: 100%; /* Full width */
    margin: -200px auto 50px; /* Move it upwards */
    text-align: center;
    position: relative;
    color: white;
}

.feature-overview h2 {
    font-size: 2.5em;
    color: white;
    margin-bottom: 20px;
}

.feature-overview p {
    font-size: 1.5em;
    color: white;
    margin-bottom: 30px;
}




